<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewCustomer"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-customer"
      ref="modal-form-customer"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required> </b-form-input>
        </b-form-group>
        <!-- Adress -->
        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input id="address" v-model="form.address" required>
          </b-form-input>
        </b-form-group>

        <!-- dob -->
        <b-form-group
          label="Date of birth"
          label-for="dob"
          :invalid-feedback="invalidFeedbackDob"
          :valid-feedback="validFeedbackDob"
          :state="stateDob"
        >
          <b-form-input id="dob" v-model="form.dob" required> </b-form-input>
        </b-form-group>
        <!-- grnder -->
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>

        <!-- mobile -->
        <b-form-group
          label="Mobile"
          label-for="mobile"
          :invalid-feedback="invalidFeedbackMobile"
          :valid-feedback="validFeedbackMobile"
          :state="stateMobile"
        >
          <b-form-input id="mobile" v-model="form.mobile" required>
          </b-form-input>
        </b-form-group>
        <!-- Email -->
        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="email" v-model="form.email" required>
          </b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="customerList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editCustomer(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delCustomer(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import customersService from './CustomersService'
// import { delete } from 'vue/types/umd'
export default {
  data () {
    return {
      title: 'Add new customer',
      form: {
        id: -1,
        name: '',
        address: '',
        dob: '',
        gender: null,
        mobile: '',
        email: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      customerList: [],
      fields: [
        'id',
        'name',
        'address',
        'dob',
        'gender',
        'mobile',
        'email',
        'operation'
      ]
    }
  },
  methods: {
    addNewCustomer () {
      console.log('Add new customer')
      this.$bvModal.show('modal-form-customer')
    },
    editCustomer (customer) {
      console.log('Edit ')
      console.log(customer)
      this.title = 'Edit customers'
      this.form = { ...customer }
      this.$bvModal.show('modal-form-customer')
    },
    delCustomer (customer) {
      console.log('Del ')
      console.log(customer)
      this.$bvModal
        .msgBoxConfirm('Are you sure you want to delete ' + customer.name + '?', {
          title: 'Please confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            // customersService.deleteCustomer(customer)
            // this.customerList = customersService.getCustomer()
            axios
              .delete('http://localhost:3000/customers/' + customer._id)
              .then(res => {
                console.log(res)
                this.getCustomers()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        id: '',
        name: '',
        address: '',
        dob: '',
        gender: null,
        mobile: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateName === false ||
        this.stateAddress === false ||
        this.stateDob === false ||
        this.stateGender === false ||
        this.stateMobile === false ||
        this.stateEmail === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form.id !== -1) {
        axios
          .put('http://localhost:3000/customers', this.form)
          .then(res => {
            console.log(res)
            this.getCustomers()
          })
          .catch(err => {
            console.log(err)
          })
        this.getCustomers()
      } else {
        // this.addUser(this.form)
        // customersService.addCustomer(this.form)
        // this.customerList = customersService.getCustomer()
        delete this.form._id
        axios
          .post('http://localhost:3000/customers', this.form)
          .then(res => {
            console.log(res)
            this.getCustomers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-customer')
      })
    },
    getCustomers () {
      axios
        .get('http://localhost:3000/customers')
        .then(res => {
          console.log(res)
          this.customerList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    // name
    stateName () {
      return this.form.name.length >= 3
    },
    invalidFeedbackName () {
      if (this.form.name.length > 3) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Enter at least 3 characters'
      } else {
        return 'Please enter your name'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'Success' : ''
    },
    // gender
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please select your gender'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Success' : ''
    },
    // email
    stateEmail () {
      return this.form.email !== ''
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 0) {
        return ''
      } else {
        return 'Please enter your e-mail'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'Success' : ''
    },
    // mobile
    stateMobile () {
      return this.form.mobile.length >= 10
    },
    invalidFeedbackMobile () {
      if (this.form.mobile.length > 10) {
        return ''
      } else if (this.form.mobile.length > 0) {
        return 'please provide a valid phone number'
      } else {
        return 'Please enter your phone number'
      }
    },
    validFeedbackMobile () {
      return this.stateMobile === true ? 'Success' : ''
    },
    // address
    stateAddress () {
      return this.form.address !== ''
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 0) {
        return ''
      } else {
        return 'Please enter your address'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'Success' : ''
    },
    // Dob
    stateDob () {
      return this.form.dob.length >= 10
    },
    invalidFeedbackDob () {
      if (this.form.dob.length > 10) {
        return ''
      } else if (this.form.dob.length > 0) {
        return 'please enter your Date of birth (dd/mm/yyyy)'
      } else {
        return 'Please enter your Date of birth'
      }
    },
    validFeedbackDob () {
      return this.stateDob === true ? 'Success' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getCustomers()
  }
}
</script>
