<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewProduct"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-product"
      ref="modal-form-product"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required> </b-form-input>
        </b-form-group>
        <b-form-group
          label="Price"
          label-for="price"
          :invalid-feedback="invalidFeedbackPrice"
          :valid-feedback="validFeedbackPrice"
          :state="statePrice"
        >
          <b-form-input id="price" v-model="form.price" required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Cost"
          label-for="cost"
          :invalid-feedback="invalidFeedbackCost"
          :valid-feedback="validFeedbackCost"
          :state="stateCost"
        >
          <b-form-input id="cost" v-model="form.cost" required> </b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="productList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editProduct(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delProduct(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import productsService from './ProductsService'
export default {
  data () {
    return {
      title: 'Add products',
      form: {
        id: -1,
        name: '',
        price: '',
        cost: ''
      },
      productList: [],
      fields: ['id', 'name', 'price', 'cost', 'operation']
    }
  },
  methods: {
    addNewProduct () {
      console.log('Add new Product')
      this.$bvModal.show('modal-form-product')
    },
    editProduct (product) {
      console.log('Edit ')
      console.log(product)
      this.title = 'Edit product'
      this.form = { ...product }
      this.$bvModal.show('modal-form-product')
    },
    delProduct (product) {
      console.log('Del ')
      console.log(product)
      this.$bvModal
        .msgBoxConfirm('Do you want to delete the  ' + product.name + ' ?', {
          title: 'Please confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            axios
              .delete('http://localhost:3000/products/' + product._id)
              .then(res => {
                console.log(res)
                this.getProducts()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        price: '',
        cost: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateName === false ||
        this.statePrice === false ||
        this.stateCost === false
      ) {
        return
      }
      // Do when pass validation
      console.log(this.form)
      if (this.form.id !== -1) {
        // this.updateUser(this.form)
        console.log('put')
        axios.put('http://localhost:3000/products', this.form).then(res => {
          console.log(res)
          this.getProducts()
        }).catch(err => {
          console.log(err)
        })
        this.getProducts()
      } else {
        // this.addUser(this.form)
        console.log('post')
        delete this.form._id
        axios.post('http://localhost:3000/products', this.form).then(res => {
          console.log(res)
          this.getProducts()
        }).catch(err => {
          console.log(err)
        })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-product')
      })
    },
    getProducts () {
      axios
        .get('http://localhost:3000/products')
        .then(res => {
          console.log(res)
          this.productList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 3
    },
    invalidFeedbackName () {
      if (this.form.name.length > 3) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Enter at least 3 characters'
      } else {
        return 'Please enter name product'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'Success' : ''
    },
    statePrice () {
      return this.form.price > 0
    },
    invalidFeedbackPrice () {
      if (this.form.price > 0) {
        return ''
      } else {
        return 'Please enter a price'
      }
    },
    validFeedbackPrice () {
      return this.statePrice === true ? 'Success' : ''
    },
    stateCost () {
      return this.form.cost > 0
    },
    invalidFeedbackCost () {
      if (this.form.cost > 0) {
        return ''
      } else {
        return 'Please enter a cost'
      }
    },
    validFeedbackCost () {
      return this.stateCost === true ? 'Success' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getProducts()
  }
}
</script>
