<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="products">Products</router-link></b-nav-item>
      <b-nav-item><router-link to="customers">Customers</router-link></b-nav-item>
      <b-nav-item><router-link to="users">Users</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
