<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Login"
          label-for="login"
          :invalid-feedback="invalidFeedbackLogin"
          :valid-feedback="validFeedbackLogin"
          :state="stateLogin"
        >
          <b-form-input id="login" v-model="form.login" required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Password"
          label-for="password"
          :invalid-feedback="invalidFeedbackPassword"
          :valid-feedback="validFeedbackPassword"
          :state="statePassword"
        >
          <b-form-input id="password" v-model="form.password" required>
          </b-form-input>
        </b-form-group>
        <b-form-group
          label="Status:"
          label-for="status"
          :invalid-feedback="invalidFeedbackStatus"
          :valid-feedback="validFeedbackStatus"
          :state="stateStatus"
        >
          <b-form-select
            id="status"
            v-model="form.status"
            :options="statusOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import userService from './UserService'
export default {
  data () {
    return {
      title: 'Add user',
      form: {
        id: -1,
        login: '',
        password: '',
        status: null
      },
      statusOptions: [
        { text: 'Select One', value: null },
        { value: 'true', text: 'True' },
        { value: 'false', text: 'False' }
      ],
      userList: [],
      fields: ['id', 'login', 'password', 'status', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'Edit user'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('Do you want to delete the ' + user.login + ' ?', {
          title: 'Please confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            // userService.deleteUser(user)
            // this.userList = userService.getUsers()
            axios
              .delete('http://localhost:3000/users/' + user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        id: '',
        login: '',
        password: '',
        status: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateLogin === false ||
        this.statePassword === false ||
        this.stateStatus === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form.id !== -1) {
        // this.updateUser(this.form)
        console.log('put')
        axios
          .put('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
        this.getUsers()
      } else {
        console.log('post')
        delete this.form.id
        axios
          .post('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUsers () {
      // this.userList = userService.getUsers()
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateLogin () {
      return this.form.login.length >= 3
    },
    invalidFeedbackLogin () {
      if (this.form.login.length > 3) {
        return ''
      } else if (this.form.login.length > 0) {
        return 'Enter at least 3 characters'
      } else {
        return 'Please enter user'
      }
    },
    validFeedbackLogin () {
      return this.stateLogin === true ? 'Success' : ''
    },
    statePassword () {
      return this.form.password.length > 8
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 8) {
        return ''
      } else if (this.form.password.length > 0) {
        return 'Enter at least 8 characters'
      } else {
        return 'Please enter a password'
      }
    },
    validFeedbackPassword () {
      return this.statePassword === true ? 'Success' : ''
    },
    stateStatus () {
      return this.form.status != null
    },
    invalidFeedbackStatus () {
      if (this.form.status != null) {
        return ''
      } else {
        return 'Please select user status'
      }
    },
    validFeedbackStatus () {
      return this.stateStatus === true ? 'Success' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getUsers()
  }
}
</script>
